#container, #container-2 {
    white-space: nowrap;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

div.sound {
    position: absolute;
    opacity: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    background-image: url('https://github.com/Alexander-ilyin3/2019-12-13_modules/blob/master/pic/dialog-shrinked.png?raw=true'); 
    background-size: cover; 
    width: 91px;
    height: 60px;
}

div.sound span {
    font-size: 16px;
}

#gsap {
    position: absolute;
}

#container > div {
    position: relative;
    display: block;
}

#container .picture-div {
    background-size: cover; 
    display: inline-block;
    width: 200px; 
    height: 206px
}
